@use '@/styles/variables' as *;

.editorLayout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.editorBody {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.editorCenter {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
